@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700';

body {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #eee;
  font-size: 13pt;
}

header {
  height: 100px;
  border-bottom: 2px #ddd solid;
  background-color: #fff;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.header-container {
  margin: 0px 200px;
  display: flex;
  height: 100px;
}

.logo {
  flex: 1 0 0;
  font-size: 20pt;
  align-self: center;
}

.navigation {
  flex: 2 0 0;
  align-self: center;
  ul {
    list-style: none;
    padding: 10px;
    margin: 0px;
    margin-left: 30px;
    li {
      display: inline-block;
      padding: 10px;
      a {
        color: #444;
      }
      a:hover {
        color: #888;
        text-decoration: none;
      }
    }
  }
}

.profile {
  flex: 1 0 0;
  align-self: center;
  text-align: right;
}

#login-button {
  cursor: pointer;
}

.man {
  color: red;
}

.tracker {
  color: #3c3d4d;
  font-weight: 700;
}

.faded {
  color: #aaa;
}

.content {
  width: 1000px;
  min-height: 800px;
  background-color: white;
  padding: 20px;
  margin: 30px auto;
  p {
    text-transform: none;
  }
  border: #ddd solid 1px;
}

.content-header {
  text-align: center;
}

.red {
  color: red;
}

.box-row {
  display: flex;
  height: 350px;
}

.box {
  flex: 1 0 0;
  background-color: #eee;
  border: 1px #ddd solid;
  padding: 15px;
  margin: 10px;
}

.content-footer {
  text-align: center;
}

.links {
  float: right;
  a {
    color: white;
  }
}

footer {
  background-color: red;
  color: white;
}

.footer-container {
  padding: 20px 100px;
}

.title-row {
  display: flex;
  h3 {
    flex: 1 0 0;
  }
  button {
    margin-top: 10px;
    flex: 0 100px 0;
    color: white;
    height: 40px;
    text-align: center;
    vertical-align: center;
    border: none;
  }
  .join-tournament {
    background-color: red;
  }
  .join-tournament:hover {
    background-color: lighten(red, 15%);
  }
  .leave-tournament {
    background-color: #888;
  }
  .leave-tournament:hover {
    background-color: lighten(#888, 15%);
  }
}

.tournament {
  margin: 5px;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
}

.game {
  margin: 5px;
  padding: 10px;
  background-color: lighten(red, 40%);
  border: 1px solid red;
}

.game-content {
  text-transform: none;
}

.game-header {
  display: flex;
  .title {
    flex: 1 0 0;
    line-height: 2;
    font-weight: bold;
  }
  .join-game {
    flex: 0 100px 0;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    margin-right: 10px;
    cursor: help;
    background-color: red;
    display: block;
  }
}

.report-player {
  border: none;
  background-color: black;
  color: white;
  margin-right: 10px;
  text-transform: uppercase;
}

.report-score {
  border: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.man-modal {
  text-transform: none;
  position: absolute;
  background-color: white;
  border: 1px #ddd solid;
  padding: 25px;
  height: 500px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  h3 {
    font-size: 20px;
  }
  .answers {
    height: 375px;
    background-color: red;
    display: flex;
    flex-direction: column;
    .answer {
      flex: 1 0 0;
      border: none;
      color: white;
    }
    .yes {
      background-color: green;
    }
    .no {
      background-color: red;
    }
    .player {
      background-color: blue;
    }
  }
  .report-info {
    width: 100%;
    height: 250px;
  }
}

.page-cover {
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
